*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #ddd;
}
.container {
    width: 70%;
    background-color: #fff;
    /* height: 100%; */
    margin: auto;
}

.container .up {
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
}

.container .up .btns{
    padding-top:10px ;
}
.container .up .btns button {
    font-size: 13px;
    padding: 15px;
    border: none;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    cursor: pointer;
    color: #999;
    font-weight: 600;
}

.container .up .btns button:hover {
    background-color: #4c8ef1;
    color: #fff;
}


.container .image {
    text-align: center;
    width: 200px;
    height: 200px;
    margin: auto;
    padding-top: 10px;
}

.container .image img {
    width: 100%;
    height: auto;
}

.container .info {
    width: 80%;
    height: auto;
    margin: 120px auto;
}


.container .info .in {
    width: 100%;
    margin-top: 15px;
    position: relative;
}

.container .info .in input {
    width: 100%;
    font-size: 20px;
    border: none;
    background-color: #f9f9f9;
    outline: none;
    padding: 7px;
    border-left: 2px solid #4c8ef1;
}

.container .info .in label {
    font-size: 23px;
    font-family: sans-serif;
    color: #4c8ef1;
}

.container .info .in textarea {
    width: 100%;
    padding: 7px;
    background-color: #f9f9f9;
    border: none;
    border-left: 2px solid #4c8ef1;
    height: auto;
    outline: none;
    resize: none;
}

.specs {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.specs input {
    width: auto;
    padding: 3px;
    background-color: #4c8ef1;
    color: #fff;
    border-radius: 4px;
    border: none;
    outline: none;
    width: 100px;
    text-align: center;
    font-size: 15px;
    margin: 5px;
}

.info .in .add {
    position: absolute;
    right: 10px;
    border: none;
    color: #4c8ef1;
    border-radius: 50%;
    cursor: pointer;
    padding: 7px;
    top: 50%;
    transition: all 0.3s ease;
    background-color: transparent;
    border: 1px solid transparent;
}
.info .in .add:hover {
    background-color: #fff;
    border-color: #4c8ef1;
}

.container .ok {
    position: relative;
    width: 100%;
    margin-top:15px;
    padding-bottom: 15px;
}

.container .ok button {
    font-size: 18px;
    padding: 7px;
    border: none;
    color: #fff; 
    cursor: pointer;   
}

.container .ok button:first-child {
    background-color: rgb(108, 212, 99);
}

.container .ok button:last-child {
    background-color: #4c8ef1;
}


@media (max-width:670px) {
    .container {
        width: 90%;
        height: auto;
    }
}
@media (max-width:500px) {
    .container {
        width: 100%;
    }

    body {
        background-color: #fff;
    }
}